This is a notebook just for exploring the data

In [1]:
import pandas as pd
import data
import metrics

In [14]:
df = data.load_table("pai_job_table")

In [15]:
df.head()

,job_name,inst_id,user,status,start_time,end_time
0,87a79c6373f7439d82f32a1c,38e2d7187762a9241cc1cd5732dbe52a5d8b37ed7dafe1...,74238accb90b,Running,1053513.0,NaN
1,9605ac7cc4c55a193fbe956b,e1cbdf28400847d65d00da4f0522ce7a43275fe9cb5d2a...,61d6b6dd5b15,Running,1097614.0,NaN
2,a2d8872d080eb634a42ea9a6,27ddabc2f7490279c6d5bd95c8a75e5c96d841c6030659...,61d6b6dd5b15,Running,1103820.0,NaN
3,e8baa72bfcd1b723cafab26a,70e4f598c8cdf40f24e0e7d3aba9a9dacde5342e1f2ffd...,61d6b6dd5b15,Terminated,1104396.0,1140852.0
4,4e87f469c73e13613908b658,5bb3500e7f1a42a9ce82544dad5f202547848e9727e221...,61d6b6dd5b15,Terminated,1109911.0,1233527.0

In [16]:
df[df['job_name'] == 'e8baa72bfcd1b723cafab26a'].count()

job_name      1
inst_id       1
user          1
status        1
start_time    1
end_time      1
dtype: int64

In [17]:
df['status'].unique()

array(['Running', 'Terminated', 'Failed', 'Waiting'], dtype=object)

In [3]:
import data
df = data.load_table('pai_task_table')
print(df.shape[0])
print(df[df['end_time'].isnull() & ~df['plan_gpu'].isnull()].shape[0])
df[df['end_time'].isnull() & ~df['plan_gpu'].isnull()]['status'].unique()

1261050
299948

array(['Failed', 'Running'], dtype=object)

In [22]:
df.head()

,job_name,task_name,inst_num,status,start_time,end_time,plan_cpu,plan_mem,plan_gpu,gpu_type
0,c936346f45eccd34bf748541,tensorflow,1.0,Terminated,2693235.0,2695847.0,600.0,29.296875,50.0,MISC
1,455c3dec270f4777ad67721c,tensorflow,1.0,Terminated,3399583.0,3399732.0,600.0,29.296875,100.0,MISC
2,ba64aa2f0feff18428923e92,tensorflow,1.0,Terminated,2152271.0,2158213.0,600.0,29.296875,50.0,MISC
3,704783be2a4b7f88b8d2e4ee,worker,100.0,Failed,2172980.0,NaN,600.0,9.765625,10.0,MISC
4,bce3b9c55772f9d1e85fe796,PyTorchWorker,4.0,Failed,2374681.0,NaN,400.0,10.000000,100.0,V100

In [41]:
df = df.groupby('job_name')['status'].count().to_frame()
df.head()

                          status
job_name
00003536c2d96e7db2a08aea       1
0000407f42f4dddf0a49d7e5       1
0000595a49fb4da8ad754d66       1
0000694f3c7e9654d7cb59e1       2
00006bf0df4fd39465f0879f       1

In [42]:
df['status'].unique()

array([1, 2, 3, 4], dtype=int64)

In [11]:
jobs = data.load_table("pai_job_table")#[['job_name', 'start_time', 'end_time']]
jobs.head()

,job_name,inst_id,user,status,start_time,end_time
0,87a79c6373f7439d82f32a1c,38e2d7187762a9241cc1cd5732dbe52a5d8b37ed7dafe1...,74238accb90b,Running,1053513.0,NaN
1,9605ac7cc4c55a193fbe956b,e1cbdf28400847d65d00da4f0522ce7a43275fe9cb5d2a...,61d6b6dd5b15,Running,1097614.0,NaN
2,a2d8872d080eb634a42ea9a6,27ddabc2f7490279c6d5bd95c8a75e5c96d841c6030659...,61d6b6dd5b15,Running,1103820.0,NaN
3,e8baa72bfcd1b723cafab26a,70e4f598c8cdf40f24e0e7d3aba9a9dacde5342e1f2ffd...,61d6b6dd5b15,Terminated,1104396.0,1140852.0
4,4e87f469c73e13613908b658,5bb3500e7f1a42a9ce82544dad5f202547848e9727e221...,61d6b6dd5b15,Terminated,1109911.0,1233527.0

In [8]:
jobs = jobs[jobs['status'] != 'Waiting']
jobs = jobs[['job_name', 'start_time', 'end_time']]
# jobs[['start_time', 'end_time']] = jobs[[
#     'start_time', 'end_time']].astype("uint64")

In [12]:
jobs['end_time'].isnull().values.any()

True

In [15]:
jobs[jobs['end_time'].isnull()].head()

,job_name,inst_id,user,status,start_time,end_time
0,87a79c6373f7439d82f32a1c,38e2d7187762a9241cc1cd5732dbe52a5d8b37ed7dafe1...,74238accb90b,Running,1053513.0,NaN
1,9605ac7cc4c55a193fbe956b,e1cbdf28400847d65d00da4f0522ce7a43275fe9cb5d2a...,61d6b6dd5b15,Running,1097614.0,NaN
2,a2d8872d080eb634a42ea9a6,27ddabc2f7490279c6d5bd95c8a75e5c96d841c6030659...,61d6b6dd5b15,Running,1103820.0,NaN
6,af1ca6b0155dbbbb3797a3a4,5750fd1dbc735c12a2c2e3cb39589b14addd9deb5d1245...,61d6b6dd5b15,Failed,1139982.0,NaN
11,7a3b165070821c4ff318384c,97a9d2f4d2aac180ba87229ff574868d57eb93f2ac9a04...,61d6b6dd5b15,Running,1218834.0,NaN

In [4]:
import data
tasks = data.load_table("pai_task_table")#[['job_name', 'plan_gpu']]
tasks = tasks[tasks['status'] != 'Waiting']
tasks.head()

,job_name,task_name,inst_num,status,start_time,end_time,plan_cpu,plan_mem,plan_gpu,gpu_type
0,c936346f45eccd34bf748541,tensorflow,1.0,Terminated,2693235.0,2695847.0,600.0,29.296875,50.0,MISC
1,455c3dec270f4777ad67721c,tensorflow,1.0,Terminated,3399583.0,3399732.0,600.0,29.296875,100.0,MISC
2,ba64aa2f0feff18428923e92,tensorflow,1.0,Terminated,2152271.0,2158213.0,600.0,29.296875,50.0,MISC
3,704783be2a4b7f88b8d2e4ee,worker,100.0,Failed,2172980.0,NaN,600.0,9.765625,10.0,MISC
4,bce3b9c55772f9d1e85fe796,PyTorchWorker,4.0,Failed,2374681.0,NaN,400.0,10.000000,100.0,V100

In [5]:
tasks = tasks.dropna(subset=['plan_gpu'])
tasks.head()

,job_name,task_name,inst_num,status,start_time,end_time,plan_cpu,plan_mem,plan_gpu,gpu_type
0,c936346f45eccd34bf748541,tensorflow,1.0,Terminated,2693235.0,2695847.0,600.0,29.296875,50.0,MISC
1,455c3dec270f4777ad67721c,tensorflow,1.0,Terminated,3399583.0,3399732.0,600.0,29.296875,100.0,MISC
2,ba64aa2f0feff18428923e92,tensorflow,1.0,Terminated,2152271.0,2158213.0,600.0,29.296875,50.0,MISC
3,704783be2a4b7f88b8d2e4ee,worker,100.0,Failed,2172980.0,NaN,600.0,9.765625,10.0,MISC
4,bce3b9c55772f9d1e85fe796,PyTorchWorker,4.0,Failed,2374681.0,NaN,400.0,10.000000,100.0,V100

In [7]:
tasks = tasks[~(tasks['end_time'].isnull())]
tasks['status'].unique()

array(['Terminated', 'Running', 'Failed'], dtype=object)

In [8]:
import data
tasks = data.load_table("pai_task_table")
print(tasks.shape)
tasks.head()

(1261050, 10)

,job_name,task_name,inst_num,status,start_time,end_time,plan_cpu,plan_mem,plan_gpu,gpu_type
0,c936346f45eccd34bf748541,tensorflow,1.0,Terminated,2693235.0,2695847.0,600.0,29.296875,50.0,MISC
1,455c3dec270f4777ad67721c,tensorflow,1.0,Terminated,3399583.0,3399732.0,600.0,29.296875,100.0,MISC
2,ba64aa2f0feff18428923e92,tensorflow,1.0,Terminated,2152271.0,2158213.0,600.0,29.296875,50.0,MISC
3,704783be2a4b7f88b8d2e4ee,worker,100.0,Failed,2172980.0,NaN,600.0,9.765625,10.0,MISC
4,bce3b9c55772f9d1e85fe796,PyTorchWorker,4.0,Failed,2374681.0,NaN,400.0,10.000000,100.0,V100

In [7]:
tasks.groupby('status')['status'].count()

status
Failed        256762
Running       115501
Terminated    885073
Waiting         3714
Name: status, dtype: int64

In [56]:
jobs['start_time'].isnull().values.any()

True

In [57]:
missing_start = jobs[jobs['start_time'].isnull()]
print(missing_start.shape)
missing_start.head()

(3663, 6)

,job_name,inst_id,user,status,start_time,end_time
5674,b2c8960214debaddea43da3f,96ea6552b39dcc2e5573d74fde42723986a09adc768239...,bc19fcc8ca41,Waiting,NaN,NaN
5680,91f24117ddd11ac3bb01de7d,683709df63c337a4e3407027401716fe2cd00ff64fea9f...,bc19fcc8ca41,Waiting,NaN,NaN
5923,84bbd689966294e2bd6d2779,4300b429014d01c2abc093d2d98195304bcbec43640a84...,a5386cd007c6,Waiting,NaN,NaN
5979,a539c00d65622ee415b21d96,05be2bfaccd42f0c763c00ad313f4260f2cdd19a873dd2...,8907048af9ca,Waiting,NaN,NaN
5980,cbbcd4aac28c7850a602a172,758be0add6ea9f72c813aecca33b0df52d3f5f86a76c7e...,8907048af9ca,Waiting,NaN,NaN

In [58]:
missing_start['status'].unique()

array(['Waiting'], dtype=object)

In [59]:
tasks['start_time'].isnull().values.any()

True

In [60]:
missing_start = tasks[tasks['start_time'].isnull()]
print(missing_start.shape)
missing_start.head()

(3714, 10)

,job_name,task_name,inst_num,status,start_time,end_time,plan_cpu,plan_mem,plan_gpu,gpu_type
171,9c19596aaa4495ff8c177371,worker,35.0,Waiting,NaN,NaN,NaN,NaN,NaN,NaN
1481,579aa2c2ee99d5fcf3d24592,worker,10.0,Waiting,NaN,NaN,NaN,NaN,NaN,NaN
1925,334ae88b44e262b53e0a5435,worker,2.0,Waiting,NaN,NaN,NaN,NaN,NaN,NaN
2116,e9421ae225cd72203e06b463,worker,2.0,Waiting,NaN,NaN,NaN,NaN,NaN,NaN
2468,4d039651fc1ff6e88a0481f8,worker,1.0,Waiting,NaN,NaN,NaN,NaN,NaN,NaN

In [61]:
missing_start['status'].unique()

array(['Waiting'], dtype=object)

In [3]:
d = data.load_jobs().head()

In [4]:
d['end_time'].isnull()

0     True
1     True
2     True
3    False
4    False
Name: end_time, dtype: bool

In [1]:
import data
d = data.load_tasks().head()
d

                   job_name  start_time  end_time  plan_gpu
0  c936346f45eccd34bf748541     2693235   2695847       0.5
1  455c3dec270f4777ad67721c     3399583   3399732       1.0
2  ba64aa2f0feff18428923e92     2152271   2158213       0.5
3  704783be2a4b7f88b8d2e4ee     2172980      <NA>       0.1
4  bce3b9c55772f9d1e85fe796     2374681      <NA>       1.0

In [1]:
import data
jobs = data.load_jobs()
tasks = data.load_tasks()
print(jobs['start_time'].min(), tasks['start_time'].min())

494319 494319

In [4]:
#tasks = data.load_table('pai_task_table')
tasks['gpus'].isnull().values.any()
#tasks[tasks['plan_gpu'].isnull()]['gpu_type'].unique()

False

In [2]:
tasks.sort_values('start_time')[['start_time', 'gpus']].values.tolist()

[[494319, 0.25],
 [494326, 0.25],
 [516002, 0.25],
 [516023, 0.25],
 [520443, 0.25],
 [531747, 0.05],
 [532834, 1.0],
 [536203, 0.25],
 [542323, 0.5],
 [568016, 0.2],
 [577533, 0.25],
 [577552, 0.25],
 [577611, 0.25],
 [583240, 1.0],
 [586583, 0.25],
 [591458, 1.0],
 [610353, 1.0],
 [620909, 0.25],
 [622826, 0.25],
 [631535, 1.0],
 [636282, 2.0],
 [639138, 2.0],
 [675285, 1.0],
 [675443, 1.0],
 [687591, 1.0],
 [692399, 1.0],
 [694568, 0.25],
 [697728, 0.25],
 [719557, 2.0],
 [734802, 1.0],
 [738525, 0.25],
 [742353, 6.0],
 [748821, 0.25],
 [753655, 2.0],
 [757419, 1.0],
 [757423, 1.0],
 [762738, 1.0],
 [769672, 1.0],
 [770946, 0.2],
 [775064, 0.5],
 [779522, 0.25],
 [780213, 0.25],
 [781890, 1.0],
 [798925, 1.0],
 [809483, 1.0],
 [809483, 1.0],
 [809553, 1.0],
 [809555, 1.0],
 [809580, 1.0],
 [809580, 1.0],
 [810481, 1.0],
 [810482, 1.0],
 [810530, 1.0],
 [810530, 1.0],
 [815550, 1.0],
 [821965, 0.25],
 [823331, 0.25],
 [824425, 2.0],
 [827638, 1.0],
 [831348, 0.25],
 [835844, 1.0],
 [840435, 1.0],
 [851884, 1.0],
 [865967, 1.0],
 [870947, 0.5],
 [872063, 0.5],
 [873015, 2.0],
 [873184, 4.0],
 [873840, 0.25],
 [873918, 2.0],
 [874087, 2.0],
 [875276, 1.0],
 [876005, 1.0],
 [876423, 0.25],
 [876453, 0.25],
 [876456, 0.25],
 [876456, 0.25],
 [876478, 0.25],
 [876772, 0.1],
 [877683, 6.0],
 [877786, 6.0],
 [884441, 1.0],
 [886254, 0.5],
 [888034, 4.0],
 [889626, 0.5],
 [890669, 0.5],
 [890744, 0.5],
 [890972, 0.5],
 [893918, 2.0],
 [899313, 2.0],
 [901410, 8.0],
 [901741, 2.0],
 [902816, 1.0],
 [903454, 2.0],
 [906200, 1.0],
 [906201, 6.0],
 [907822, 0.5],
 [911213, 1.0],
 [911468, 1.0],
 [913162, 1.0],
 [913183, 1.0],
 [913268, 1.0],
 [913918, 6.0],
 [914004, 6.0],
 [918389, 1.0],
 [920441, 2.0],
 [924842, 8.0],
 [925461, 1.0],
 [930675, 2.0],
 [931024, 2.0],
 [931550, 1.0],
 [937300, 1.0],
 [940423, 0.25],
 [942141, 1.0],
 [948220, 8.0],
 [952697, 4.0],
 [954841, 1.0],
 [955890, 1.0],
 [956037, 0.5],
 [956038, 0.5],
 [956087, 1.0],
 [956318, 1.0],
 [957494, 0.5],
 [957988, 0.25],
 [958210, 1.0],
 [960712, 2.0],
 [960834, 1.0],
 [960837, 1.0],
 [960893, 0.5],
 [960904, 0.25],
 [960909, 0.25],
 [960927, 0.25],
 [960938, 0.25],
 [960987, 1.0],
 [962435, 0.25],
 [962704, 0.25],
 [962728, 1.0],
 [963590, 1.0],
 [963688, 2.0],
 [963852, 2.0],
 [964299, 0.5],
 [964301, 0.5],
 [964306, 0.5],
 [964307, 0.5],
 [964310, 1.0],
 [964319, 0.5],
 [964396, 0.5],
 [964616, 1.0],
 [966243, 1.0],
 [966819, 0.25],
 [967722, 1.0],
 [969172, 1.0],
 [969388, 2.0],
 [970578, 0.25],
 [971679, 1.0],
 [971987, 1.0],
 [973567, 1.0],
 [973635, 4.0],
 [973813, 1.0],
 [974051, 4.0],
 [974937, 2.0],
 [975030, 0.25],
 [975420, 4.0],
 [975425, 1.0],
 [975425, 4.0],
 [975430, 1.0],
 [975501, 1.0],
 [978063, 0.5],
 [978658, 1.0],
 [978747, 0.5],
 [978896, 4.0],
 [979530, 1.0],
 [979882, 1.0],
 [980008, 1.0],
 [981792, 0.5],
 [981945, 1.0],
 [982217, 1.0],
 [983997, 1.0],
 [985234, 0.25],
 [985235, 0.25],
 [985807, 0.5],
 [986140, 1.0],
 [986228, 0.2],
 [987567, 1.0],
 [988436, 0.5],
 [989353, 0.2],
 [991185, 1.0],
 [991192, 1.0],
 [991565, 1.0],
 [991636, 1.0],
 [991707, 1.0],
 [991774, 1.0],
 [991846, 1.0],
 [991883, 0.25],
 [991915, 1.0],
 [994861, 1.0],
 [995253, 2.0],
 [996252, 1.0],
 [996587, 0.25],
 [997048, 1.0],
 [997258, 1.0],
 [997294, 1.0],
 [997321, 1.0],
 [997465, 1.0],
 [997514, 1.0],
 [997740, 2.0],
 [998792, 1.0],
 [999214, 1.0],
 [999357, 1.0],
 [1000087, 1.0],
 [1000250, 0.5],
 [1000741, 1.0],
 [1000782, 1.0],
 [1003522, 0.5],
 [1005267, 6.0],
 [1006461, 1.0],
 [1006750, 2.0],
 [1007834, 1.0],
 [1008051, 0.5],
 [1008516, 1.0],
 [1009702, 0.25],
 [1010912, 2.0],
 [1011587, 0.25],
 [1012258, 1.0],
 [1012382, 1.0],
 [1012429, 1.0],
 [1013313, 1.0],
 [1014151, 1.0],
 [1014195, 1.0],
 [1014211, 1.0],
 [1014348, 1.0],
 [1014459, 1.0],
 [1014950, 1.0],
 [1015018, 1.0],
 [1015597, 1.0],
 [1017105, 1.0],
 [1017398, 1.0],
 [1017661, 1.0],
 [1020303, 0.5],
 [1020306, 0.5],
 [1020306, 0.5],
 [1020306, 0.5],
 [1020306, 0.5],
 [1020307, 0.5],
 [1020307, 0.5],
 [1021726, 1.0],
 [1021859, 1.0],
 [1021918, 0.5],
 [1021927, 1.0],
 [1022405, 1.0],
 [1022721, 0.25],
 [1022846, 0.25],
 [1023068, 0.25],
 [1023127, 0.05],
 [1023168, 0.25],
 [1024023, 0.5],
 [1024919, 1.0],
 [1025455, 1.0],
 [1025459, 1.0],
 [1025680, 0.25],
 [1025687, 0.25],
 [1025759, 1.0],
 [1025913, 1.0],
 [1026233, 1.0],
 [1028374, 0.25],
 [1028374, 0.25],
 [1028375, 0.25],
 [1028375, 0.25],
 [1036698, 2.0],
 [1036804, 0.5],
 [1037324, 0.25],
 [1037606, 1.0],
 [1039419, 2.0],
 [1040749, 4.0],
 [1040778, 4.0],
 [1041411, 2.0],
 [1041790, 0.25],
 [1042131, 0.5],
 [1042133, 0.5],
 [1042263, 2.0],
 [1042329, 4.0],
 [1042475, 1.0],
 [1042491, 2.0],
 [1042494, 1.0],
 [1042506, 0.25],
 [1042843, 0.25],
 [1043218, 0.25],
 [1043651, 0.25],
 [1044102, 0.25],
 [1044171, 0.5],
 [1044316, 2.0],
 [1044317, 1.0],
 [1044381, 1.0],
 [1044506, 1.0],
 [1044648, 0.5],
 [1044773, 0.5],
 [1044801, 1.0],
 [1044818, 4.0],
 [1044857, 1.0],
 [1044883, 0.25],
 [1044935, 0.25],
 [1045080, 1.0],
 [1045268, 0.2],
 [1045578, 0.2],
 [1045857, 0.25],
 [1045877, 1.0],
 [1045885, 1.0],
 [1045914, 1.0],
 [1045914, 0.5],
 [1045934, 1.0],
 [1045947, 8.0],
 [1045993, 0.5],
 [1046116, 0.25],
 [1046174, 1.0],
 [1046177, 0.5],
 [1046580, 1.0],
 [1046602, 2.0],
 [1046611, 1.0],
 [1046720, 0.25],
 [1046756, 2.0],
 [1046889, 0.2],
 [1047401, 4.0],
 [1047407, 1.0],
 [1047724, 1.0],
 [1047752, 1.0],
 [1047845, 8.0],
 [1047856, 1.0],
 [1047955, 1.0],
 [1048057, 0.5],
 [1048189, 0.5],
 [1048366, 0.1],
 [1048393, 0.1],
 [1048399, 0.1],
 [1048405, 0.1],
 [1048405, 0.1],
 [1048440, 0.1],
 [1048488, 0.1],
 [1048511, 0.1],
 [1048512, 0.1],
 [1048602, 4.0],
 [1048708, 1.0],
 [1048791, 4.0],
 [1049125, 1.0],
 [1049147, 1.0],
 [1049172, 1.0],
 [1049179, 1.0],
 [1049213, 1.0],
 [1049567, 8.0],
 [1049627, 0.5],
 [1049700, 1.0],
 [1049744, 1.0],
 [1050357, 1.0],
 [1050556, 1.0],
 [1050609, 0.5],
 [1050609, 0.5],
 [1050609, 0.5],
 [1050610, 0.5],
 [1050610, 0.5],
 [1050610, 0.5],
 [1050610, 0.5],
 [1050632, 0.5],
 [1050663, 0.5],
 [1050663, 0.5],
 [1050734, 0.5],
 [1050735, 0.5],
 [1050735, 0.5],
 [1050735, 0.5],
 [1050736, 0.5],
 [1050737, 0.5],
 [1050737, 0.5],
 [1050737, 0.5],
 [1050794, 0.25],
 [1050794, 0.25],
 [1050794, 0.25],
 [1050797, 0.25],
 [1050797, 0.25],
 [1050797, 0.25],
 [1050797, 0.25],
 [1050802, 0.25],
 [1050806, 0.25],
 [1050809, 0.5],
 [1050809, 0.25],
 [1050812, 0.5],
 [1050812, 0.5],
 [1050812, 0.5],
 [1050817, 0.5],
 [1050819, 5.0],
 [1050825, 0.25],
 [1050825, 0.5],
 [1050826, 0.25],
 [1050827, 0.25],
 [1050827, 0.25],
 [1050827, 0.25],
 [1050827, 0.25],
 [1050827, 0.25],
 [1050828, 0.25],
 [1050828, 0.25],
 [1050829, 0.25],
 [1050851, 1.0],
 [1051002, 1.0],
 [1051326, 1.0],
 [1051392, 0.25],
 [1051639, 0.25],
 [1051639, 0.25],
 [1051639, 0.25],
 [1051639, 0.25],
 [1051639, 0.25],
 [1051639, 0.25],
 [1051640, 0.25],
 [1051640, 0.25],
 [1051661, 0.25],
 [1051862, 0.25],
 [1052001, 2.0],
 [1052907, 1.0],
 [1053414, 2.0],
 [1053617, 1.0],
 [1053715, 1.0],
 [1053830, 1.0],
 [1054095, 0.25],
 [1054167, 0.25],
 [1054532, 5.0],
 [1054649, 1.0],
 [1054688, 0.5],
 [1054951, 0.5],
 [1055035, 1.0],
 [1055783, 0.25],
 [1056448, 0.05],
 [1056455, 0.05],
 [1056471, 0.05],
 [1057156, 1.0],
 [1058232, 0.25],
 [1058945, 8.0],
 [1058996, 2.0],
 [1059033, 1.0],
 [1059095, 0.25],
 [1059361, 1.0],
 [1059364, 1.0],
 [1059382, 1.0],
 [1059582, 1.0],
 [1059709, 0.25],
 [1059710, 0.5],
 [1059720, 1.0],
 [1059723, 4.0],
 [1059884, 2.0],
 [1059954, 1.0],
 [1060190, 1.0],
 [1060343, 1.0],
 [1060365, 0.25],
 [1060737, 1.0],
 [1060773, 0.25],
 [1061098, 0.5],
 [1061280, 0.25],
 [1061304, 1.0],
 [1061356, 1.0],
 [1061504, 0.05],
 [1061526, 1.0],
 [1062180, 0.5],
 [1062202, 1.0],
 [1062268, 0.5],
 [1062286, 0.5],
 [1062294, 4.0],
 [1062373, 4.0],
 [1062504, 2.0],
 [1062759, 2.0],
 [1063549, 0.5],
 [1063638, 0.5],
 [1063831, 1.0],
 [1063988, 0.5],
 [1064118, 1.0],
 [1064230, 0.1],
 [1064322, 0.25],
 [1064510, 2.0],
 [1064566, 1.0],
 [1064607, 1.0],
 [1064996, 0.5],
 [1065336, 0.5],
 [1065436, 1.0],
 [1065480, 8.0],
 [1065936, 2.0],
 [1065942, 1.0],
 [1065945, 0.5],
 [1066455, 1.0],
 [1066494, 4.0],
 [1066519, 1.0],
 [1066538, 0.25],
 [1066604, 1.0],
 [1066644, 0.25],
 [1066648, 2.0],
 [1066663, 1.0],
 [1066683, 2.0],
 [1066685, 1.0],
 [1066702, 4.0],
 [1066740, 0.25],
 [1066799, 4.0],
 [1066803, 1.0],
 [1067023, 2.0],
 [1067133, 0.5],
 [1067384, 0.5],
 [1067626, 0.5],
 [1067707, 1.0],
 [1067864, 4.0],
 [1067865, 1.0],
 [1067964, 0.25],
 [1067978, 4.0],
 [1068060, 2.0],
 [1068114, 4.0],
 [1068284, 1.0],
 [1068306, 4.0],
 [1068326, 0.25],
 [1068498, 1.0],
 [1068503, 1.0],
 [1068525, 4.0],
 [1068560, 4.0],
 [1068628, 2.0],
 [1068649, 4.0],
 [1068733, 1.0],
 [1068984, 1.0],
 [1069014, 1.0],
 [1069034, 0.5],
 [1069043, 1.0],
 [1069091, 1.0],
 [1069340, 2.0],
 [1069406, 1.0],
 [1069437, 1.0],
 [1069557, 1.0],
 [1069636, 4.0],
 [1069645, 4.0],
 [1069671, 1.0],
 [1069775, 2.0],
 [1069792, 4.0],
 [1069807, 1.0],
 [1069888, 1.0],
 [1069935, 0.25],
 [1070075, 4.0],
 [1070152, 2.0],
 [1070174, 4.0],
 [1070388, 4.0],
 [1070396, 4.0],
 [1070432, 4.0],
 [1070437, 1.0],
 [1070446, 2.0],
 [1070536, 0.25],
 [1070672, 0.25],
 [1070838, 1.0],
 [1071047, 2.0],
 [1071049, 4.0],
 [1071138, 4.0],
 [1071138, 1.0],
 [1071150, 0.25],
 [1071373, 2.0],
 [1071462, 0.1],
 [1071583, 8.0],
 [1071609, 0.25],
 [1071923, 1.0],
 [1072337, 0.1],
 [1072492, 2.0],
 [1072664, 1.0],
 [1072670, 1.0],
 [1072915, 0.5],
 [1072924, 1.0],
 [1073073, 0.25],
 [1073309, 1.0],
 [1073596, 0.5],
 [1073622, 4.0],
 [1073835, 1.0],
 [1073836, 1.0],
 [1073972, 0.25],
 [1074424, 1.0],
 [1074626, 0.25],
 [1074707, 0.25],
 [1074732, 1.0],
 [1074734, 1.0],
 [1074734, 1.0],
 [1074751, 0.25],
 [1075160, 1.0],
 [1075294, 1.0],
 [1075388, 0.5],
 [1075393, 0.5],
 [1075468, 0.25],
 [1075476, 0.25],
 [1075895, 1.0],
 [1076072, 2.0],
 [1076434, 0.5],
 [1076463, 6.0],
 [1076702, 2.0],
 [1076771, 1.0],
 [1076912, 0.5],
 [1076938, 0.5],
 [1076991, 1.0],
 [1077248, 0.5],
 [1077788, 1.0],
 [1077807, 0.5],
 [1078074, 1.0],
 [1078360, 1.0],
 [1078373, 1.0],
 [1078811, 1.0],
 [1078814, 0.25],
 [1078839, 0.5],
 [1079253, 1.0],
 [1079423, 1.0],
 [1079476, 0.25],
 [1079647, 1.0],
 [1079660, 4.0],
 [1079663, 1.0],
 [1079674, 0.25],
 [1079681, 1.0],
 [1079692, 1.0],
 [1079880, 1.0],
 [1079880, 0.25],
 [1079952, 0.1],
 [1080423, 1.0],
 [1080607, 1.0],
 [1080669, 0.25],
 [1080839, 1.0],
 [1080909, 0.5],
 [1080922, 0.25],
 [1081067, 0.5],
 [1081251, 1.0],
 [1081290, 0.5],
 [1081375, 1.0],
 [1081517, 1.0],
 [1081646, 2.0],
 [1081656, 1.0],
 [1081686, 4.0],
 [1081688, 1.0],
 [1081689, 4.0],
 [1081701, 4.0],
 [1081729, 2.0],
 [1081802, 2.0],
 [1081806, 1.0],
 [1081890, 0.5],
 [1081944, 1.0],
 [1082107, 8.0],
 [1082279, 1.0],
 [1082396, 1.0],
 [1082405, 1.0],
 [1082427, 0.2],
 [1082476, 0.25],
 [1082591, 2.0],
 [1082628, 4.0],
 [1082632, 4.0],
 [1082634, 0.25],
 [1082650, 4.0],
 [1082669, 2.0],
 [1082741, 1.0],
 [1082742, 2.0],
 [1082817, 1.0],
 [1082845, 1.0],
 [1082900, 2.0],
 [1082938, 4.0],
 [1082943, 4.0],
 [1082950, 1.0],
 [1082954, 4.0],
 [1082978, 1.0],
 [1082984, 2.0],
 [1082995, 2.0],
 [1083013, 2.0],
 [1083029, 1.0],
 [1083051, 1.0],
 [1083062, 1.0],
 [1083090, 1.0],
 [1083091, 2.0],
 [1083113, 1.0],
 [1083124, 1.0],
 [1083320, 0.25],
 [1083386, 0.25],
 [1083649, 1.0],
 [1083854, 0.25],
 [1083874, 1.0],
 [1084049, 1.0],
 [1084053, 0.25],
 [1084055, 1.0],
 [1084123, 0.25],
 [1084126, 0.25],
 [1084182, 0.25],
 [1084186, 0.25],
 [1084242, 1.0],
 [1084285, 0.1],
 [1084512, 0.1],
 [1084517, 0.1],
 [1084517, 0.1],
 [1084518, 0.1],
 [1084518, 0.1],
 [1084520, 0.1],
 [1084521, 0.1],
 [1084521, 0.1],
 [1084522, 0.1],
 [1084522, 0.1],
 [1084522, 0.1],
 [1084522, 0.1],
 [1084522, 0.1],
 [1084522, 0.1],
 [1084522, 0.1],
 [1084522, 0.1],
 [1084522, 0.1],
 [1084522, 0.1],
 [1084523, 0.1],
 [1084523, 0.1],
 [1084523, 0.1],
 [1084523, 0.1],
 [1084525, 0.1],
 [1084533, 0.1],
 [1084539, 0.1],
 [1084613, 0.5],
 [1084750, 1.0],
 [1084753, 0.5],
 [1084979, 0.5],
 [1084983, 1.0],
 [1085117, 1.0],
 [1085155, 1.0],
 [1085163, 1.0],
 [1085182, 1.0],
 [1085187, 0.5],
 [1085189, 0.5],
 [1085189, 1.0],
 [1085197, 0.5],
 [1085359, 4.0],
 [1085373, 0.25],
 [1085447, 1.0],
 [1085695, 1.0],
 [1085741, 0.1],
 [1085817, 1.0],
 [1085820, 1.0],
 [1085912, 0.05],
 [1085968, 0.25],
 [1086223, 1.0],
 [1086375, 1.0],
 [1086642, 2.0],
 [1086654, 2.0],
 [1086685, 4.0],
 [1086689, 4.0],
 [1086713, 4.0],
 [1086736, 2.0],
 [1086749, 2.0],
 [1086810, 2.0],
 [1086815, 1.0],
 [1086984, 2.0],
 [1086993, 2.0],
 [1087023, 4.0],
 [1087037, 4.0],
 [1087059, 4.0],
 [1087110, 2.0],
 [1087128, 2.0],
 [1087163, 2.0],
 [1087402, 1.0],
 [1087435, 0.5],
 [1087455, 0.25],
 [1087458, 1.0],
 [1087481, 1.0],
 [1087651, 0.5],
 [1087695, 0.25],
 [1087695, 0.25],
 [1087698, 0.25],
 [1087698, 0.25],
 [1087716, 0.2],
 [1087719, 0.5],
 [1087798, 0.5],
 [1087798, 1.0],
 [1087915, 1.0],
 [1088058, 1.0],
 [1088550, 1.0],
 [1088703, 1.0],
 [1088723, 1.0],
 [1088785, 8.0],
 [1088896, 8.0],
 [1089107, 0.1],
 [1089109, 0.25],
 [1089114, 0.1],
 [1089120, 0.1],
 [1089129, 0.1],
 [1089135, 0.1],
 [1089146, 0.1],
 [1089160, 0.1],
 [1089171, 0.1],
 [1089177, 0.1],
 [1089185, 0.1],
 [1089195, 0.1],
 [1089203, 0.1],
 [1089213, 0.1],
 [1089222, 0.1],
 [1089233, 0.1],
 [1089242, 0.1],
 [1089251, 0.1],
 [1089261, 0.1],
 [1089273, 0.1],
 [1089285, 0.1],
 [1089289, 0.1],
 [1089298, 0.5],
 [1089300, 0.1],
 [1089309, 0.1],
 [1089314, 0.1],
 [1089326, 0.1],
 [1089332, 0.1],
 [1089359, 1.0],
 [1089372, 0.1],
 [1089379, 0.1],
 [1089381, 0.1],
 [1089384, 0.1],
 [1089385, 0.1],
 [1089385, 0.1],
 [1089397, 0.1],
 [1089405, 0.1],
 [1089416, 0.1],
 [1089423, 0.1],
 [1089433, 0.1],
 [1089445, 0.1],
 [1089451, 0.1],
 [1089459, 0.1],
 [1089473, 0.1],
 [1089480, 0.1],
 [1089486, 0.1],
 [1089491, 0.1],
 [1089500, 0.1],
 [1089507, 0.1],
 [1089516, 0.1],
 [1089540, 0.1],
 [1089547, 0.1],
 [1089555, 0.1],
 [1089561, 0.1],
 [1089568, 0.1],
 [1089575, 0.1],
 [1089586, 0.1],
 [1089599, 0.1],
 [1089606, 0.1],
 [1089616, 0.1],
 [1089632, 0.1],
 [1089644, 0.1],
 [1089651, 0.1],
 [1089663, 0.1],
 [1089673, 0.1],
 [1089682, 0.1],
 [1089689, 0.1],
 [1089697, 0.1],
 [1089708, 0.1],
 [1089716, 0.1],
 [1089722, 0.1],
 [1089730, 0.1],
 [1089741, 0.1],
 [1089753, 0.1],
 [1089763, 0.1],
 [1089772, 0.1],
 [1089779, 0.1],
 [1089789, 0.1],
 [1089798, 0.1],
 [1089808, 0.1],
 [1089819, 0.1],
 [1089830, 0.1],
 [1089838, 0.1],
 [1089848, 1.0],
 [1089849, 0.1],
 [1089860, 0.1],
 [1089869, 0.1],
 [1089877, 0.1],
 [1089883, 0.1],
 [1089894, 0.1],
 [1089904, 0.1],
 [1089916, 0.1],
 [1089925, 0.1],
 [1089933, 0.1],
 [1089943, 0.1],
 [1089954, 0.1],
 [1089961, 0.1],
 [1089969, 0.1],
 [1089979, 0.1],
 [1089989, 0.1],
 [1089994, 0.1],
 [1090000, 0.1],
 [1090010, 0.1],
 [1090017, 0.1],
 [1090025, 0.1],
 [1090029, 0.1],
 [1090039, 0.1],
 [1090049, 0.1],
 [1090057, 0.1],
 [1090068, 0.1],
 [1090078, 0.1],
 [1090091, 0.1],
 [1090098, 0.1],
 [1090105, 0.1],
 [1090116, 0.1],
 [1090122, 0.1],
 [1090130, 0.1],
 [1090136, 0.1],
 [1090136, 1.0],
 [1090147, 0.1],
 [1090158, 0.1],
 [1090168, 0.1],
 [1090175, 0.1],
 [1090187, 0.1],
 [1090193, 0.1],
 [1090206, 0.1],
 [1090215, 0.1],
 [1090221, 0.1],
 [1090229, 0.1],
 [1090240, 0.1],
 [1090248, 0.1],
 [1090256, 0.1],
 [1090267, 0.1],
 [1090273, 0.1],
 [1090283, 0.1],
 [1090293, 0.1],
 [1090303, 0.1],
 [1090311, 0.1],
 [1090321, 0.1],
 [1090329, 0.1],
 [1090336, 0.1],
 [1090349, 0.1],
 [1090355, 0.1],
 [1090368, 0.1],
 [1090380, 0.1],
 [1090384, 1.0],
 [1090388, 0.1],
 [1090409, 0.1],
 [1090417, 0.1],
 [1090432, 0.1],
 [1090437, 0.1],
 [1090450, 0.1],
 [1090456, 0.1],
 [1090463, 0.1],
 [1090471, 0.1],
 [1090477, 0.1],
 [1090485, 0.1],
 [1090494, 0.1],
 [1090498, 0.5],
 [1090504, 0.1],
 [1090513, 0.1],
 [1090519, 1.0],
 [1090531, 0.1],
 [1090545, 0.1],
 [1090554, 0.1],
 [1090556, 0.1],
 [1090563, 0.1],
 [1090575, 0.1],
 [1090588, 0.1],
 [1090597, 0.1],
 [1090607, 0.1],
 [1090613, 0.1],
 [1090623, 0.1],
 [1090628, 0.1],
 [1090641, 0.1],
 [1090652, 0.1],
 [1090663, 0.1],
 [1090668, 0.1],
 [1090680, 0.1],
 [1090688, 0.1],
 [1090695, 0.1],
 [1090703, 0.1],
 [1090722, 0.1],
 [1090735, 0.1],
 [1090756, 0.1],
 [1090762, 0.1],
 [1090773, 0.1],
 [1090795, 0.25],
 [1090798, 0.25],
 [1090804, 0.1],
 [1090808, 0.1],
 [1090808, 0.1],
 [1090826, 0.1],
 [1090833, 0.1],
 [1090871, 1.0],
 [1090904, 0.1],
 [1090916, 0.1],
 [1090930, 0.1],
 [1090954, 0.1],
 [1090965, 0.1],
 [1090977, 0.1],
 [1090989, 0.1],
 [1090994, 0.1],
 [1091012, 0.1],
 [1091021, 0.1],
 [1091034, 0.1],
 [1091044, 0.1],
 [1091060, 0.1],
 [1091069, 0.1],
 [1091074, 1.0],
 [1091075, 0.1],
 [1091085, 0.1],
 [1091095, 0.1],
 [1091103, 1.0],
 [1091107, 0.1],
 [1091111, 0.1],
 [1091124, 0.1],
 [1091133, 0.1],
 [1091144, 0.1],
 [1091151, 0.1],
 [1091160, 0.1],
 [1091165, 0.1],
 [1091170, 0.25],
 [1091181, 0.1],
 [1091190, 0.1],
 [1091207, 0.1],
 [1091215, 0.1],
 [1091224, 0.1],
 [1091230, 0.1],
 [1091244, 0.1],
 [1091253, 0.1],
 [1091265, 0.1],
 [1091270, 0.1],
 [1091279, 0.1],
 [1091299, 0.1],
 ...]

In [5]:
import pandas as pd 
df = pd.DataFrame([[2,1],[1,3],[1,2]],columns=['a','b'])
df.sort_values(['a','b'])

   a  b
2  1  2
1  1  3
0  2  1